// ######################
// ## Font Variables ####
// ######################
$default-font-size: 1.6rem;

// ########################
// ## Spacing Variables ###
// ########################
$spacing-0: 0px;
$spacing-02: 2px;
$spacing-04: 4px;
$spacing-06: 6px;
$spacing-08: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-60: 60px;
$spacing-64: 64px;
$spacing-80: 80px;
$spacing-96: 96px;
$spacing-112: 112px;
$spacing-128: 128px;
$spacing-140: 140px;

// ########################
// ## Spacing Variables ###
// ########################
$opacity-20: 0.2;
$opacity-80: 0.8;
$opacity-85: 0.85;

// ########################
// ## Radius Variables ###
// ########################
$radius-0: 0px;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;

// ######################
// ## Color Variables ###
// ######################
$color-white: #fff;
$color-black: #000;

$color-yellow: #ffd623;
$color-red: #ba0000;
$color-blue: #3962a7;
$color-purple: #a884f0;
$color-grey: #aeaeae;
$color-green: #4caf50;

$color-light-yellow: #fde684;
$color-light-red: #e48585;
$color-light-grey: #efefef;
$color-light-green: #a4e4a7;
$color-light-purple: #d6c2ff;
