@use "../../../../essentials" as *;

.learn {
  display: flex;
  gap: 25px;

  align-items: flex-end;

  &__math-container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;

    // &--info-bar {
    //   display: flex;
    //   gap: 25px;
    //   width: 100%;
    // }

    &--questions {
      animation: fadeIn 0.5s ease;
    }
  }

  &__button {
    @include yellowLearnButton;
  }

  &__math-quiz {
    display: flex;
    gap: 22px;
  }

  &__success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    height: 505px;
    width: 100%;

    animation: fadeIn 0.5s ease;

    &--pokeball {
      width: 185px;
    }
  }
}
