@use "../../../../essentials" as *;

.learn {
  display: flex;
  gap: 25px;

  align-items: flex-end;

  // @include respond(tablet-landscape) {
  //   height: 585px;
  //   margin-top: 15px;
  // }

  &__math-container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;

    justify-content: space-between;

    @include respond(tablet-landscape) {
      justify-content: space-around;
    }

    &--questions {
      animation: fadeIn 0.5s ease;
    }
  }

  &__button {
    @include yellowLearnButton;
  }

  &__math-quiz {
    display: flex;
    gap: 22px;

    @include respond(tablet-landscape) {
      gap: 5px;
    }
  }

  &__success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    height: 505px;
    width: 100%;

    animation: fadeIn 0.5s ease;

    &--pokeball {
      width: 185px;
    }
  }
}
