@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rowdies:wght@300;400;700&family=Silkscreen:wght@400;700&display=swap");
/*
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Desktop - Where Normal Styles Apply
1800px + :        Big Desktop
*/
/*
$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px;


ORDER [When refactoring for responsiveness]: Base + typography > general layout + grid > page layout > components
*/
body {
  font-size: 1.6rem;
  color: #000;
}

.bilboard,
.bilboard-sm,
.rowdie-title,
.rowdie-label,
.rowdie-stat,
.math-equation,
.math-answer {
  font-family: "Rowdies", sans-serif;
}

.bilboard {
  font-size: 9.6rem;
  line-height: 99px;
  font-weight: 400;
  color: #3962a7;
}

.bilboard-sm {
  font-size: 6.4rem;
  font-weight: 400;
  color: #3962a7;
}

.rowdie-title {
  font-size: 3rem;
}

.rowdie-label {
  font-size: 1.8rem;
}

.rowdie-stat {
  font-size: 4.8rem;
}

.math-equation {
  font-size: 8rem;
}

.math-answer {
  font-size: 2.4rem;
}

.general-text {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.8rem;
}

.pokedex-value,
.play-information,
.play-label,
.user-title,
.user-name {
  font-family: "Silkscreen", sans-serif;
}

.pokedex-value {
  font-size: 1.6rem;
}

.play-information {
  font-size: 2.4rem;
}

.play-label {
  font-size: 2rem;
}

.user-title {
  font-size: 1.8rem;
}

.user-name {
  font-size: 3rem;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  75% {
    transform: translateX(2px) rotate(1deg);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate(260px, -60px);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInPokeball {
  from {
    opacity: 0;
    transform: scale(0.01) rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pokemonBounce {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  5% {
    transform: translateX(25px) translateY(-15px);
  }
  10% {
    transform: translateX(25px) translateY(0px);
  }
  15% {
    transform: translateX(50px) translateY(-15px);
  }
  20% {
    transform: translateX(50px) translateY(0px);
  }
  25% {
    transform: translateX(75px) translateY(-15px);
  }
  30% {
    transform: translateX(75px) translateY(0px);
  }
  35% {
    transform: translateX(50px) translateY(-15px);
  }
  40% {
    transform: translateX(50px) translateY(0px);
  }
  45% {
    transform: translateX(25px) translateY(-15px);
  }
  50% {
    transform: translateX(25px) translateY(0px);
  }
  55% {
    transform: translateX(0px) translateY(-15px);
  }
  60% {
    transform: translateX(0px) translateY(0px);
  }
  65% {
    transform: translateX(-25px) translateY(-15px);
  }
  70% {
    transform: translateX(-25px) translateY(0px);
  }
  75% {
    transform: translateX(-50px) translateY(-15px);
  }
  80% {
    transform: translateX(-50px) translateY(0px);
  }
  85% {
    transform: translateX(-25px) translateY(-15px);
  }
  90% {
    transform: translateX(-25px) translateY(0px);
  }
  95% {
    transform: translateX(0px) translateY(-15px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
.error {
  border: 3px solid #ba0000 !important;
}

.stat-blue {
  color: #3962a7 !important;
}

.stat-purple {
  color: #a884f0 !important;
}

.stat-red {
  color: #ba0000 !important;
}

.hide {
  display: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1220px;
  padding-bottom: 50px;
}

input[type=radio] {
  width: 0;
}

label {
  cursor: pointer;
}

.btn {
  font-family: "Silkscreen", sans-serif;
  color: #000;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}
.btn-nav {
  max-width: 400px;
  height: 65px;
  padding: 10px 0;
  text-align: center;
  border-radius: 16px;
  font-size: 3rem;
}
.btn-nav--yellow {
  background-color: #ffd623;
  border: 3px solid #333;
}
.btn-nav--blue {
  background-color: #3962a7;
  color: #fff;
  font-weight: bold;
}
.btn-nav:hover {
  transform: translateY(-5px);
  box-shadow: 0px 7px 5px 0 rgba(0, 0, 0, 0.25);
}

.navigation {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 999px;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo {
  width: 230px;
}
.navigation__icon-container {
  display: inline-flex;
  gap: 40px;
}
.navigation__icon {
  height: 50px;
}
.navigation__icon:hover {
  transform: scale(1.05);
}

.avatar-card {
  background-color: #fff;
  width: 125px;
  height: 125px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.avatar-card__img {
  width: 120px;
  position: absolute;
  bottom: 0;
}
.avatar-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
.avatar-card:has(input:checked) {
  border: 3px solid #3962a7;
  transform: scale(1.02);
}

.difficulty-selection {
  width: 100%;
  position: relative;
}
.difficulty-selection::after {
  content: "";
  background: url("../assets/icons/thumbsup.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 38px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.3s ease;
}
.difficulty-selection:has(input:checked)::after {
  opacity: 1;
  transform: scale(1);
}
.difficulty-selection--easy {
  background-color: #a4e4a7;
  border: 2px solid #4caf50;
  height: 90px;
  border-radius: 20px;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 3rem;
  padding: 24px 40px;
  margin-bottom: 10px;
}
.difficulty-selection--easy:hover {
  border: 4px solid #4caf50;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.difficulty-selection--normal {
  background-color: #fde684;
  border: 2px solid #ffd623;
  height: 90px;
  border-radius: 20px;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 3rem;
  padding: 24px 40px;
  margin-bottom: 10px;
}
.difficulty-selection--normal:hover {
  border: 4px solid #ffd623;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.difficulty-selection--hard {
  background-color: #e48585;
  border: 2px solid #ba0000;
  height: 90px;
  border-radius: 20px;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 3rem;
  padding: 24px 40px;
  margin-bottom: 10px;
}
.difficulty-selection--hard:hover {
  border: 4px solid #ba0000;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.difficulty-selection__description {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.difficulty-selection__description--pokeball {
  width: 28px;
  vertical-align: middle;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding: 20px;
  text-align: center;
  position: relative;
}
.player-card--mini {
  cursor: pointer;
  gap: 20px;
}
.player-card--mini::before {
  content: "";
  width: 240px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  border-radius: 20px;
  z-index: -1;
  box-shadow: -5px -5px 7px 0 rgba(255, 250, 242, 0.05), -1px -1px 2px 0 rgba(255, 250, 242, 0.1), 5px 5px 7px 0 rgba(0, 0, 0, 0.2), 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 240px;
}
.player-card--mini:hover .player-card__img {
  transform: scale(1.07);
}
.player-card--main {
  gap: 15px;
}
.player-card--main::before {
  content: "";
  width: 240px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  border-radius: 20px;
  z-index: -1;
  box-shadow: -5px -5px 7px 0 rgba(255, 250, 242, 0.05), -1px -1px 2px 0 rgba(255, 250, 242, 0.1), 5px 5px 7px 0 rgba(0, 0, 0, 0.2), 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 505px;
}
.player-card__avatar-box {
  position: relative;
}
.player-card__avatar-box::after {
  content: "";
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 62.98%);
}
.player-card__img {
  width: 200px;
}
.player-card__info-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 24px;
}
.player-card__info-title--img {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.gameplay-card {
  height: 475px;
  width: 260px;
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  transform: translateY(-30px);
}
.gameplay-card--red {
  border: 3px solid #ba0000;
  box-shadow: 0 30px 0 0 #ba0000;
}
.gameplay-card--blue {
  border: 3px solid #3962a7;
  box-shadow: 0 30px 0 0 #3962a7;
}
.gameplay-card--purple {
  border: 3px solid #a884f0;
  box-shadow: 0 30px 0 0 #a884f0;
}
.gameplay-card__img {
  height: 125px;
}
.gameplay-card__nav {
  text-decoration: none;
  position: absolute;
  bottom: 35px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.gameplay-card__nav:hover {
  border-radius: 999px;
  padding: 5px 20px;
  color: #fff !important;
}
.gameplay-card__nav:hover:is(.stat-blue) {
  background-color: #3962a7;
}
.gameplay-card__nav:hover:is(.stat-red) {
  background-color: #ba0000;
}
.gameplay-card__nav:hover:is(.stat-purple) {
  background-color: #a884f0;
}

.math-question {
  height: 505px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  padding: 40px 20px;
  transform: translateY(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.math-question__equation {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  border-bottom: 5px solid #000;
  width: 100%;
}
.math-question__numbers {
  text-align: right;
}
.math-question__answers-block {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 6px;
}
.math-question__answer {
  width: 120px;
  height: 50px;
  border: 1px solid #aeaeae;
  border-radius: 20px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
}
.math-question__answer:has(input:checked) {
  background-color: #d6c2ff;
  border: 4px solid #a884f0;
}
.math-question__answer:has(input.correct) {
  background-color: #a4e4a7;
  border: 2px solid #4caf50;
}
.math-question__answer:has(input.wrong) {
  background-color: #e48585;
  border: 2px solid #ba0000;
}

.info-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.info-bar__title {
  height: 50px;
  padding: 5px 25px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #c0c0c0;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.info-bar__button--yellow {
  width: 295px;
  height: 50px;
  background-color: #ffd623;
  border-radius: 24px;
  border: 3px solid #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.info-bar__button--yellow:hover {
  border: 3px solid #fff;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.45);
  background-color: #4caf50;
  color: #fff;
}
.info-bar__button--yellow.inactive {
  background-color: #aeaeae;
  cursor: not-allowed;
}
.info-bar__button--yellow.inactive:hover {
  box-shadow: none;
  color: #000;
  border: 3px solid #000;
}
.info-bar__button--home {
  width: 295px;
  height: 50px;
  background-color: #ffd623;
  border-radius: 24px;
  border: 3px solid #000;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 195px;
}
.info-bar__button--home:hover {
  border: 3px solid #fff;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.45);
  background-color: #4caf50;
  color: #fff;
}
.info-bar__button--home.inactive {
  background-color: #aeaeae;
  cursor: not-allowed;
}
.info-bar__button--home.inactive:hover {
  box-shadow: none;
  color: #000;
  border: 3px solid #000;
}
.info-bar__button--catch {
  width: 195px;
  height: 50px;
  background-color: #fff;
  border-radius: 24px;
  border: 3px solid #ba0000;
  cursor: pointer;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 4px;
  position: relative;
  transition: all 0.3s ease;
}
.info-bar__button--catch::after {
  content: "";
  background-image: url("../assets/icons/8bitpokeball.webp");
  background-size: cover;
  width: 35px;
  height: 37px;
  position: absolute;
  right: 25px;
  bottom: 3px;
}
.info-bar__button--catch:hover {
  background-color: #ba0000;
  border: 3px solid #fff;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 5px #000;
}
.info-bar__button--catch.caught {
  background-color: #ba0000;
  border: 3px solid #ba0000;
  color: #fff;
  text-align: center;
  padding-left: initial;
  cursor: not-allowed;
}
.info-bar__button--catch.caught:after {
  display: none;
}
.info-bar__button--catch.caught:hover {
  transform: scale(1);
  box-shadow: none;
}
.info-bar__button--catch.no-balls {
  background-color: #aeaeae;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  padding-left: initial;
  cursor: not-allowed;
}
.info-bar__button--catch.no-balls:after {
  display: none;
}
.info-bar__button--catch.no-balls:hover {
  transform: scale(1);
  box-shadow: none;
}
.info-bar__button--search {
  width: 195px;
  height: 50px;
  color: #fff;
  background-color: #3962a7;
  border-radius: 24px;
  border: 3px solid #fff;
  padding-bottom: 4px;
  cursor: pointer;
}
.info-bar__button--search:hover {
  transform: scale(1.05);
  box-shadow: 0 5px #000;
}

.hero {
  width: 100%;
  height: 740px;
  margin-top: 10px;
  background-color: white;
  border-radius: 24px;
  border: 3px solid #3962a7;
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.24);
  display: inline-flex;
  overflow: hidden;
}
.hero__left {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero__right {
  width: 50%;
  border-radius: 24px 0 0 24px;
  background-image: url("../assets/backgrounds/forest.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
.hero__right--pikachu {
  position: absolute;
  width: 200px;
  bottom: 126px;
  left: 80px;
}
.hero__right--pikachu:hover {
  animation: shake 0.3s ease infinite;
}
.hero__right--eevee {
  position: absolute;
  width: 200px;
  bottom: 126px;
  right: 60px;
  opacity: 0;
  animation: slideInLeft 1.5s ease 2s forwards;
}
.hero__right--pokeball {
  width: 125px;
  position: absolute;
  left: -62px;
  top: 305px;
  animation: fadeInPokeball 1s ease 2s both;
}
.hero__description {
  max-width: 450px;
}
.hero__sprite {
  width: 110px;
}

.signup-form {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.signup-form__left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 625px;
  gap: 35px;
}
.signup-form__right {
  width: 100%;
  max-width: 560px;
}
.signup-form__label {
  height: 50px;
  padding: 5px 25px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #c0c0c0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
}
.signup-form--username {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
  padding: 32px 32px 24px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-23px);
  border-radius: 20px;
  border: none;
}
.signup-form--avatar {
  padding: 48px 24px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-23px);
  border-radius: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.signup-form--difficulty {
  padding: 48px 24px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-23px);
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
}
.signup-form a,
.signup-form button {
  margin-left: auto;
}

.continue {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.continue__title {
  height: 50px;
  padding: 5px 25px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #c0c0c0;
  width: 485px;
  text-align: center;
  margin-bottom: 60px;
}
.continue__player-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.main-screen {
  display: flex;
  gap: 100px;
  align-items: flex-end;
}
.main-screen__game-paths {
  display: flex;
  gap: 25px;
}

.learn {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}
.learn__math-container {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.learn__math-container--questions {
  animation: fadeIn 0.5s ease;
}
.learn__button {
  width: 295px;
  height: 50px;
  background-color: #ffd623;
  border-radius: 24px;
  border: 3px solid #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.learn__button:hover {
  border: 3px solid #fff;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.45);
  background-color: #4caf50;
  color: #fff;
}
.learn__button.inactive {
  background-color: #aeaeae;
  cursor: not-allowed;
}
.learn__button.inactive:hover {
  box-shadow: none;
  color: #000;
  border: 3px solid #000;
}
.learn__math-quiz {
  display: flex;
  gap: 22px;
}
.learn__success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 505px;
  width: 100%;
  animation: fadeIn 0.5s ease;
}
.learn__success-container--pokeball {
  width: 185px;
}

.explore {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}
.explore__game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explore__game-container--screen {
  width: 100%;
  height: 505px;
  background-color: #fff;
  border-radius: 20px;
  border: 4px solid #fff;
  overflow: hidden;
  position: relative;
}
.explore__game-container--success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}
.explore__game-container--success img {
  width: 185px;
  animation: shake 0.5s ease infinite;
}
.explore__game-container--success-button-group {
  display: flex;
  gap: 15px;
}
.explore__scene {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}
.explore__character {
  position: absolute;
  height: 165px;
  width: auto;
  bottom: 70px;
  right: 410px;
  animation: pokemonBounce 7s ease infinite;
}

.navigation {
  width: 100%;
  max-width: 1220px;
  max-height: 80px;
  margin-bottom: 20px;
}

body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 214, 35, 0.5) 50%), url("../assets/backgrounds/forest.webp");
  background-position: center, 0 30%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
body::after {
  content: "";
  width: 135px;
  height: 84px;
  background-image: url("../assets/img/eevee-bottom.webp");
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: calc(50% - 42px);
  z-index: -1;
}/*# sourceMappingURL=main.css.map */