@use "../../../essentials" as *;

.info-bar {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: space-between;

  &__title {
    @include labelTitleStyling;
    width: fit-content;
    text-align: center;
  }

  &__button--yellow {
    @include yellowLearnButton;
  }

  &__button--home {
    @include yellowLearnButton;
    width: 195px;
  }

  &__button--catch {
    width: 195px;
    height: 50px;

    background-color: $color-white;
    border-radius: $radius-24;
    border: 3px solid $color-red;

    cursor: pointer;

    text-align: left;
    padding-left: 30px;
    padding-bottom: 4px;

    position: relative;

    transition: all 0.3s ease;

    &::after {
      content: "";
      background-image: url("../assets/icons/8bitpokeball.webp");
      background-size: cover;
      width: 35px;
      height: 37px;

      position: absolute;
      right: 25px;
      bottom: 3px;
    }

    &:hover {
      background-color: $color-red;
      border: 3px solid $color-white;
      color: $color-white;
      transform: scale(1.05);

      box-shadow: 0 5px $color-black;
    }

    &.caught {
      background-color: $color-red;
      border: 3px solid $color-red;
      color: $color-white;
      text-align: center;

      padding-left: initial;

      cursor: not-allowed;

      &:after {
        display: none;
      }

      &:hover {
        transform: scale(1);
        box-shadow: none;
      }
    }

    &.no-balls {
      background-color: $color-grey;
      border: 3px solid $color-black;
      color: $color-black;
      text-align: center;

      padding-left: initial;

      cursor: not-allowed;

      &:after {
        display: none;
      }

      &:hover {
        transform: scale(1);
        box-shadow: none;
      }
    }
  }

  &__button--search {
    width: 195px;
    height: 50px;

    color: $color-white;
    background-color: $color-blue;
    border-radius: $radius-24;
    border: 3px solid $color-white;

    padding-bottom: 4px;

    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 5px $color-black;
    }
  }
}
