@import "https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rowdies:wght@300;400;700&family=Silkscreen:wght@400;700&display=swap";
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px)rotate(-1deg);
  }

  75% {
    transform: translateX(2px)rotate(1deg);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate(260px, -60px);
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInPokeball {
  from {
    opacity: 0;
    transform: scale(.01)rotate(-360deg);
  }

  to {
    opacity: 1;
    transform: scale(1)rotate(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pokemonBounce {
  0% {
    transform: translateX(0)translateY(0);
  }

  5% {
    transform: translateX(25px)translateY(-15px);
  }

  10% {
    transform: translateX(25px)translateY(0);
  }

  15% {
    transform: translateX(50px)translateY(-15px);
  }

  20% {
    transform: translateX(50px)translateY(0);
  }

  25% {
    transform: translateX(75px)translateY(-15px);
  }

  30% {
    transform: translateX(75px)translateY(0);
  }

  35% {
    transform: translateX(50px)translateY(-15px);
  }

  40% {
    transform: translateX(50px)translateY(0);
  }

  45% {
    transform: translateX(25px)translateY(-15px);
  }

  50% {
    transform: translateX(25px)translateY(0);
  }

  55% {
    transform: translateX(0)translateY(-15px);
  }

  60% {
    transform: translateX(0)translateY(0);
  }

  65% {
    transform: translateX(-25px)translateY(-15px);
  }

  70% {
    transform: translateX(-25px)translateY(0);
  }

  75% {
    transform: translateX(-50px)translateY(-15px);
  }

  80% {
    transform: translateX(-50px)translateY(0);
  }

  85% {
    transform: translateX(-25px)translateY(-15px);
  }

  90% {
    transform: translateX(-25px)translateY(0);
  }

  95% {
    transform: translateX(0)translateY(-15px);
  }

  100% {
    transform: translateX(0)translateY(0);
  }
}

@keyframes backdropFade {
  from {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transfrom: scale(.95);
    opacity: .8;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  color: #000;
  font-size: 1.6rem;
}

.bilboard, .bilboard-sm, .rowdie-title, .rowdie-label, .rowdie-stat, .math-equation, .math-answer {
  font-family: Rowdies, sans-serif;
}

.bilboard {
  color: #3962a7;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 99px;
}

@media only screen and (width <= 81.25em) {
  .bilboard {
    font-size: 6.6rem;
    line-height: 6.6rem;
  }
}

.bilboard-sm {
  color: #3962a7;
  font-size: 6.4rem;
  font-weight: 400;
}

.rowdie-title {
  font-size: 3rem;
}

.rowdie-label {
  font-size: 1.8rem;
}

.rowdie-stat {
  font-size: 4.8rem;
}

.math-equation {
  font-size: 8rem;
}

.math-answer {
  font-size: 2.4rem;
}

.general-text {
  font-family: Pixelify Sans, sans-serif;
  font-size: 1.8rem;
}

.pokedex-value, .play-information, .play-label, .user-title, .user-name {
  font-family: Silkscreen, sans-serif;
}

.pokedex-value {
  font-size: 1.6rem;
}

.play-information {
  word-break: break-word;
  font-size: 2.4rem;
}

.play-label {
  font-size: 2rem;
}

.user-title {
  font-size: 1.8rem;
}

.user-name {
  font-size: 3rem;
}

.error {
  border: 3px solid #ba0000 !important;
}

.stat-blue {
  color: #3962a7 !important;
}

.stat-purple {
  color: #a884f0 !important;
}

.stat-red {
  color: #ba0000 !important;
}

.hide {
  display: none !important;
}

*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1220px;
  padding-bottom: 50px;
}

@media only screen and (width <= 81.25em) {
  main {
    width: 98%;
    padding-bottom: 5px;
  }

  main .plain-logo {
    text-align: center;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: 0;
}

label {
  cursor: pointer;
}

.btn {
  color: #000;
  cursor: pointer;
  width: 100%;
  font-family: Silkscreen, sans-serif;
  text-decoration: none;
}

.btn-nav {
  text-align: center;
  border-radius: 16px;
  max-width: 400px;
  height: 65px;
  padding: 10px 0;
  font-size: 3rem;
}

.btn-nav--yellow {
  background-color: #ffd623;
  border: 3px solid #333;
}

.btn-nav--blue {
  color: #fff;
  background-color: #3962a7;
  font-weight: bold;
}

.btn-nav:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 5px #00000040;
}

.navigation {
  background-color: #fffc;
  border-radius: 999px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  display: flex;
}

.navigation__logo {
  width: 230px;
}

.navigation__icon-container {
  gap: 40px;
  display: inline-flex;
}

.navigation__icon {
  height: 50px;
}

.navigation__icon:hover {
  transform: scale(1.05);
}

.avatar-card {
  background-color: #fff;
  border-radius: 20px;
  width: 125px;
  height: 125px;
  transition: all .3s;
  position: relative;
  box-shadow: 0 4px 4px #00000040;
}

.avatar-card__img {
  width: 120px;
  position: absolute;
  bottom: 0;
}

.avatar-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px #00000040;
}

.avatar-card:has(input:checked) {
  border: 3px solid #3962a7;
  transform: scale(1.02);
}

.difficulty-selection {
  width: 100%;
  position: relative;
}

.difficulty-selection:after {
  content: "";
  opacity: 0;
  background: url("thumbsup.e736159b.png") 0 0 / cover;
  width: 50px;
  height: 50px;
  transition: all .3s;
  position: absolute;
  top: 38px;
  right: 40px;
  transform: scale(.2);
}

.difficulty-selection:has(input:checked):after {
  opacity: 1;
  transform: scale(1);
}

.difficulty-selection--easy {
  text-align: center;
  background-color: #a4e4a7;
  border: 2px solid #4caf50;
  border-radius: 20px;
  height: 90px;
  margin-bottom: 10px;
  padding: 24px 40px;
  font-family: Silkscreen, sans-serif;
  font-size: 3rem;
}

.difficulty-selection--easy:hover {
  border: 4px solid #4caf50;
  box-shadow: 0 3px 3px #00000040;
}

.difficulty-selection--normal {
  text-align: center;
  background-color: #fde684;
  border: 2px solid #ffd623;
  border-radius: 20px;
  height: 90px;
  margin-bottom: 10px;
  padding: 24px 40px;
  font-family: Silkscreen, sans-serif;
  font-size: 3rem;
}

.difficulty-selection--normal:hover {
  border: 4px solid #ffd623;
  box-shadow: 0 3px 3px #00000040;
}

.difficulty-selection--hard {
  text-align: center;
  background-color: #e48585;
  border: 2px solid #ba0000;
  border-radius: 20px;
  height: 90px;
  margin-bottom: 10px;
  padding: 24px 40px;
  font-family: Silkscreen, sans-serif;
  font-size: 3rem;
}

.difficulty-selection--hard:hover {
  border: 4px solid #ba0000;
  box-shadow: 0 3px 3px #00000040;
}

.difficulty-selection__description {
  justify-content: space-around;
  width: 100%;
  display: inline-flex;
}

.difficulty-selection__description--pokeball {
  vertical-align: middle;
  width: 28px;
}

.player-card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding: 20px;
  display: flex;
  position: relative;
}

@media only screen and (width <= 81.25em) {
  .player-card {
    margin-left: 12px;
  }
}

.player-card--mini {
  cursor: pointer;
  gap: 20px;
}

.player-card--mini:before {
  content: "";
  z-index: -1;
  background-color: #fff;
  border-radius: 20px;
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: 0;
  box-shadow: -5px -5px 7px #fffaf20d, -1px -1px 2px #fffaf21a, 5px 5px 7px #0003, 1px 1px 2px #0003;
}

.player-card--mini:hover .player-card__img {
  transform: scale(1.07);
}

.player-card--main {
  gap: 15px;
}

.player-card--main:before {
  content: "";
  z-index: -1;
  background-color: #fff;
  border-radius: 20px;
  width: 240px;
  height: 505px;
  position: absolute;
  bottom: 0;
  box-shadow: -5px -5px 7px #fffaf20d, -1px -1px 2px #fffaf21a, 5px 5px 7px #0003, 1px 1px 2px #0003;
}

.player-card__avatar-box {
  position: relative;
}

.player-card__avatar-box:after {
  content: "";
  background: linear-gradient(#fff0 0%, #fff 62.98%);
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.player-card__img {
  width: 200px;
}

@media only screen and (width <= 81.25em) {
  .player-card__img {
    width: 175px;
  }
}

.player-card__info-title {
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  display: inline-flex;
}

.player-card__info-title--img {
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
}

.gameplay-card {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 260px;
  height: 475px;
  padding: 50px 20px 20px;
  display: flex;
  position: relative;
  transform: translateY(-30px);
}

.gameplay-card--red {
  border: 3px solid #ba0000;
  box-shadow: 0 30px #ba0000;
}

.gameplay-card--blue {
  border: 3px solid #3962a7;
  box-shadow: 0 30px #3962a7;
}

.gameplay-card--purple {
  border: 3px solid #a884f0;
  box-shadow: 0 30px #a884f0;
}

.gameplay-card__img {
  cursor: pointer;
  height: 125px;
}

.gameplay-card__nav {
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
  position: absolute;
  bottom: 35px;
}

.gameplay-card__nav:hover {
  border-radius: 999px;
  padding: 5px 20px;
  color: #fff !important;
}

.gameplay-card__nav:hover.stat-blue {
  background-color: #3962a7;
}

.gameplay-card__nav:hover.stat-red {
  background-color: #ba0000;
}

.gameplay-card__nav:hover.stat-purple {
  background-color: #a884f0;
}

.math-question {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 300px;
  height: 505px;
  padding: 40px 20px;
  display: flex;
}

.math-question__equation {
  border-bottom: 5px solid #000;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  display: flex;
}

.math-question__numbers {
  text-align: right;
}

.math-question__answers-block {
  flex-wrap: wrap;
  gap: 15px 6px;
  display: flex;
}

.math-question__answer {
  background-color: #ebebeb;
  border: 1px solid #aeaeae;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  padding: 9px 0;
  display: flex;
}

.math-question__answer:has(input:checked) {
  background-color: #d6c2ff;
  border: 4px solid #a884f0;
}

.math-question__answer:has(input.correct) {
  background-color: #a4e4a7;
  border: 2px solid #4caf50;
}

.math-question__answer:has(input.wrong) {
  background-color: #e48585;
  border: 2px solid #ba0000;
}

.info-bar {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .info-bar {
    justify-content: space-around;
  }
}

.info-bar__title {
  text-align: center;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 24px;
  width: fit-content;
  height: 50px;
  padding: 5px 25px;
}

.info-bar__button--yellow {
  cursor: pointer;
  background-color: #ffd623;
  border: 3px solid #000;
  border-radius: 24px;
  width: 295px;
  height: 50px;
  transition: all .3s;
}

.info-bar__button--yellow:hover {
  color: #fff;
  background-color: #4caf50;
  border: 3px solid #fff;
  box-shadow: 0 5px #00000073;
}

.info-bar__button--yellow.inactive {
  cursor: not-allowed;
  background-color: #aeaeae;
}

.info-bar__button--yellow.inactive:hover {
  box-shadow: none;
  color: #000;
  border: 3px solid #000;
}

.info-bar__button--home {
  cursor: pointer;
  background-color: #ffd623;
  border: 3px solid #000;
  border-radius: 24px;
  width: 195px;
  height: 50px;
  transition: all .3s;
}

.info-bar__button--home:hover {
  color: #fff;
  background-color: #4caf50;
  border: 3px solid #fff;
  box-shadow: 0 5px #00000073;
}

.info-bar__button--home.inactive {
  cursor: not-allowed;
  background-color: #aeaeae;
}

.info-bar__button--home.inactive:hover {
  box-shadow: none;
  color: #000;
  border: 3px solid #000;
}

.info-bar__button--catch {
  cursor: pointer;
  text-align: left;
  background-color: #fff;
  border: 3px solid #ba0000;
  border-radius: 24px;
  width: 195px;
  height: 50px;
  margin-right: 10px;
  padding-bottom: 4px;
  padding-left: 30px;
  transition: all .3s;
  position: relative;
}

.info-bar__button--catch:after {
  content: "";
  background-image: url("8bitpokeball.3bc9a574.webp");
  background-size: cover;
  width: 35px;
  height: 37px;
  position: absolute;
  bottom: 3px;
  right: 25px;
}

.info-bar__button--catch:hover {
  color: #fff;
  background-color: #ba0000;
  border: 3px solid #fff;
  transform: scale(1.05);
  box-shadow: 0 5px #000;
}

.info-bar__button--catch.caught {
  color: #fff;
  text-align: center;
  padding-left: initial;
  cursor: not-allowed;
  background-color: #ba0000;
  border: 3px solid #ba0000;
}

.info-bar__button--catch.caught:after {
  display: none;
}

.info-bar__button--catch.caught:hover {
  box-shadow: none;
  transform: scale(1);
}

.info-bar__button--catch.no-balls {
  color: #000;
  text-align: center;
  padding-left: initial;
  cursor: not-allowed;
  background-color: #aeaeae;
  border: 3px solid #000;
}

.info-bar__button--catch.no-balls:after {
  display: none;
}

.info-bar__button--catch.no-balls:hover {
  box-shadow: none;
  transform: scale(1);
}

.info-bar__button--search {
  color: #fff;
  cursor: pointer;
  background-color: #3962a7;
  border: 3px solid #fff;
  border-radius: 24px;
  width: 195px;
  height: 50px;
  padding-bottom: 4px;
}

.info-bar__button--search:hover {
  transform: scale(1.05);
  box-shadow: 0 5px #000;
}

.pokemon-card {
  cursor: pointer;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 150px;
  height: 155px;
  display: flex;
  position: relative;
}

.pokemon-card:before {
  content: "";
  z-index: -1;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 20px;
  width: 150px;
  height: 120px;
  position: absolute;
  bottom: 0;
  box-shadow: 2px 2px 0 3px #00000040;
}

@media only screen and (width <= 81.25em) {
  .pokemon-card:before {
    box-shadow: 1px 1px 0 2px #00000040;
  }
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card__sprite {
  width: 65px;
  transform: scale(1.5);
}

.pokemon-card__id {
  opacity: .5;
}

.pokemon-card__caught {
  width: 20px;
}

.pokemon-details {
  width: 305px;
  height: 660px;
  display: flex;
  position: relative;
}

@media only screen and (width <= 81.25em) {
  .pokemon-details {
    height: 620px;
  }
}

.pokemon-details:before {
  content: "";
  z-index: -1;
  background-color: #fff;
  border-radius: 20px;
  width: 305px;
  height: 600px;
  position: absolute;
  bottom: 0;
  box-shadow: -5px -5px 7px #fffaf20d, -1px -1px 2px #fffaf21a, 5px 5px 7px #0003, 1px 1px 2px #0003;
}

.pokemon-details__empty, .pokemon-details__loading {
  text-align: center;
  margin: auto;
}

.pokemon-details__empty img, .pokemon-details__loading img {
  width: 125px;
}

.pokemon-details__data {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .pokemon-details__data {
    gap: 18px;
    padding-top: 10px;
  }
}

.pokemon-details__sprite {
  height: 104px;
}

.pokemon-details__id {
  opacity: .5;
  position: absolute;
  top: 70px;
  left: 20px;
}

@media only screen and (width <= 81.25em) {
  .pokemon-details__id {
    top: 35px;
  }
}

.pokemon-details__caught {
  width: 30px;
  position: absolute;
  top: 70px;
  right: 20px;
}

@media only screen and (width <= 81.25em) {
  .pokemon-details__caught {
    top: 35px;
  }
}

.pokemon-details__type {
  flex-wrap: wrap;
  gap: 12px;
  display: flex;
}

.pokemon-details__type--water {
  background-color: #2980ef;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--electric {
  background-color: #fac000;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--normal {
  background-color: #9fa19f;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--fighting {
  background-color: #ff8000;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--fire {
  background-color: #e48585;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--grass {
  background-color: #3fa129;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--ice {
  background-color: #3dcef3;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--poison {
  background-color: #9141cb;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--ground {
  background-color: #915121;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--flying {
  background-color: #81b9ef;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--psychic {
  background-color: #ef4179;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--bug {
  background-color: #91a119;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--rock {
  background-color: #afa981;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--ghost {
  background-color: #704170;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--dragon {
  background-color: #5060e1;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--dark {
  background-color: #624d4e;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--steel {
  background-color: #60a1b8;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__type--fairy {
  background-color: #ef70ef;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
}

.pokemon-details__abilities {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  display: flex;
}

.pokemon-details__abilities > p.rowdie-label {
  width: 100%;
}

.pokemon-details__abilities--text {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 24px;
  padding: 5px 10px;
}

.pokemon-details__attributes {
  text-align: center;
  gap: 20px;
  display: flex;
}

.pokemon-details__attributes--height, .pokemon-details__attributes--weight {
  width: 50%;
}

.pokemon-details__attributes--text {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 24px;
  min-width: 110px;
  margin-top: 10px;
  padding: 5px 10px;
}

.pokemon-details__skills {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  display: flex;
}

.pokemon-details__skills > p {
  width: 100%;
}

.pokemon-details__skills--skill {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 24px;
  justify-content: space-between;
  width: 110px;
  padding: 5px 15px;
  display: flex;
}

.pokemon-details__skills--icon {
  width: 20px;
  height: 20px;
}

.pokemon-details__evolution {
  -moz-column-gap: 30px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
  display: flex;
}

.pokemon-details__evolution > p {
  width: 100%;
}

.pokemon-details__evolution--stage {
  width: 50px;
  height: 52px;
}

@media only screen and (width <= 81.25em) {
  .pokemon-details__evolution {
    display: none;
  }
}

.width-warning {
  z-index: 999;
  text-align: center;
  background-color: #fff;
  border: none;
  width: 100%;
  max-width: min(100dvw, 1240px);
  height: 100%;
  max-height: min(100dvh, 1440px);
  padding: 10px;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.width-warning[open] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.width-warning__logo {
  width: 250px;
  margin-bottom: 80px;
}

.width-warning__rotate {
  width: 120px;
  margin: 10px;
}

.width-warning .general-text {
  margin-bottom: 20px;
}

.width-warning .rowdie-label {
  opacity: .5;
}

.width-warning:focus {
  border: none;
  outline: none;
}

.fullscreen-mode {
  cursor: pointer;
  background-color: #fff;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 80px;
  box-shadow: 2px 2px 4px #0009;
}

@media only screen and (width <= 81.25em) {
  .fullscreen-mode {
    bottom: 30px;
    left: 1100px;
  }
}

.fullscreen-mode__icon {
  width: 30px;
}

.fullscreen-mode:hover {
  transform: scale(1.05);
}

.hero {
  background-color: #fff;
  border: 3px solid #3962a7;
  border-radius: 24px;
  width: 100%;
  height: 740px;
  margin-top: 10px;
  display: inline-flex;
  overflow: hidden;
  box-shadow: 5px 5px 12px 4px #0000003d;
}

@media only screen and (width <= 81.25em) {
  .hero {
    width: 98%;
    height: 620px;
    margin: 10px 12px;
  }
}

.hero__left {
  flex-direction: column;
  gap: 25px;
  width: 50%;
  padding: 60px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .hero__left {
    gap: 20px;
    padding: 40px;
  }
}

.hero__right {
  background-image: url("forest.5c946855.webp");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px 0 0 24px;
  width: 50%;
  position: relative;
}

@media only screen and (width <= 81.25em) {
  .hero__right {
    width: 60%;
  }
}

.hero__right--pikachu {
  width: 200px;
  position: absolute;
  bottom: 126px;
  left: 80px;
}

.hero__right--pikachu:hover {
  animation: .3s infinite shake;
}

.hero__right--eevee {
  opacity: 0;
  width: 200px;
  animation: 1.5s 2s forwards slideInLeft;
  position: absolute;
  bottom: 126px;
  right: 60px;
}

.hero__right--pokeball {
  width: 125px;
  animation: 1s 2s both fadeInPokeball;
  position: absolute;
  top: 305px;
  left: -62px;
}

@media only screen and (width <= 81.25em) {
  .hero__right--pokeball {
    top: 225px;
  }
}

.hero__description {
  max-width: 450px;
}

@media only screen and (width <= 81.25em) {
  .hero__description {
    max-width: 400px;
  }
}

.hero__sprite {
  width: 110px;
}

@media only screen and (width <= 81.25em) {
  .hero__sprite {
    width: 90px;
  }
}

.signup-form {
  flex-wrap: wrap;
  gap: 35px;
  animation: .5s fadeIn;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .signup-form {
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    position: relative;
  }
}

.signup-form__left {
  flex-direction: column;
  gap: 35px;
  width: 100%;
  max-width: 625px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .signup-form__left {
    gap: 0;
  }
}

.signup-form__right {
  width: 100%;
  max-width: 560px;
}

@media only screen and (width <= 81.25em) {
  .signup-form__right {
    max-width: 500px;
  }
}

.signup-form__label {
  z-index: 1;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 24px;
  width: fit-content;
  height: 50px;
  padding: 5px 25px;
  position: relative;
}

.signup-form--username {
  background-color: #fffc;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 32px 32px 24px;
  font-family: Pixelify Sans, sans-serif;
  font-size: 3rem;
  transform: translateY(-23px);
}

.signup-form--avatar {
  background-color: #fffc;
  border: none;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  padding: 48px 24px;
  display: flex;
  transform: translateY(-23px);
}

.signup-form--difficulty {
  background-color: #fffc;
  border: none;
  border-radius: 20px;
  flex-direction: column;
  width: 100%;
  padding: 48px 24px;
  display: flex;
  transform: translateY(-23px);
}

@media only screen and (width <= 81.25em) {
  .signup-form--difficulty {
    padding: 30px 24px;
  }
}

.signup-form a[type="submit"], .signup-form button {
  margin-left: auto;
}

@media only screen and (width <= 81.25em) {
  .signup-form a[type="submit"], .signup-form button {
    position: absolute;
    bottom: -60px;
    right: 33%;
  }
}

.continue {
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: .5s fadeIn;
  display: flex;
}

.continue__title {
  text-align: center;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 24px;
  width: 485px;
  height: 50px;
  margin-bottom: 60px;
  padding: 5px 25px;
}

.continue__player-container {
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  display: flex;
}

.main-screen {
  align-items: flex-end;
  gap: 85px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .main-screen {
    height: 585px;
    margin-top: 15px;
  }
}

.main-screen__game-paths {
  gap: 25px;
  animation: .5s fadeIn;
  display: flex;
}

.learn {
  align-items: flex-end;
  gap: 25px;
  display: flex;
}

.learn__math-container {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 22px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .learn__math-container {
    justify-content: space-around;
  }
}

.learn__math-container--questions {
  animation: .5s fadeIn;
}

.learn__button {
  cursor: pointer;
  background-color: #ffd623;
  border: 3px solid #000;
  border-radius: 24px;
  width: 295px;
  height: 50px;
  transition: all .3s;
}

.learn__button:hover {
  color: #fff;
  background-color: #4caf50;
  border: 3px solid #fff;
  box-shadow: 0 5px #00000073;
}

.learn__button.inactive {
  cursor: not-allowed;
  background-color: #aeaeae;
}

.learn__button.inactive:hover {
  box-shadow: none;
  color: #000;
  border: 3px solid #000;
}

.learn__math-quiz {
  gap: 22px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .learn__math-quiz {
    gap: 5px;
  }
}

.learn__success-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 505px;
  animation: .5s fadeIn;
  display: flex;
}

.learn__success-container--pokeball {
  width: 185px;
}

.explore {
  align-items: flex-end;
  gap: 25px;
  display: flex;
}

.explore__game-container {
  flex-direction: column;
  gap: 20px;
  width: 100%;
  animation: .5s fadeIn;
  display: flex;
}

.explore__game-container--screen {
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 20px;
  width: 100%;
  height: 505px;
  position: relative;
  overflow: hidden;
}

.explore__game-container--success {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  display: flex;
}

.explore__game-container--success img {
  width: 185px;
  animation: .5s infinite shake;
}

.explore__game-container--success-button-group {
  gap: 15px;
  display: flex;
}

.explore__scene {
  opacity: .8;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.explore__character {
  width: auto;
  height: 165px;
  animation: 7s infinite pokemonBounce;
  position: absolute;
  bottom: 70px;
  right: 410px;
}

.pokedex {
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  animation: .5s fadeIn;
  display: flex;
}

.pokedex__container {
  flex-direction: column;
  gap: 25px;
  width: 895px;
  display: flex;
}

@media only screen and (width <= 81.25em) {
  .pokedex__container {
    width: 840px;
  }
}

.pokedex__container form {
  position: relative;
}

@media only screen and (width <= 81.25em) {
  .pokedex__container form {
    display: none;
  }
}

.pokedex__search {
  border: none;
  border-radius: 10px;
  width: 885px;
  height: 50px;
  padding: 10px 50px;
  font-family: Pixelify Sans, sans-serif;
  font-size: 2rem;
  box-shadow: 4px 4px #ba0000;
}

.pokedex__search:focus {
  border: 2px solid #ba0000;
  outline: none;
}

.pokedex__search--btn {
  cursor: pointer;
  background-color: #fff;
  background-image: url("search.42e61b41.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  border: 2px solid #efefef;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  padding: 5px 20px;
  transition: all .3s;
  position: absolute;
  top: 5px;
  right: 20px;
}

.pokedex__search--btn:hover, .pokedex__search--btn:focus {
  background-color: #efefef;
  background-size: 25%;
  border-radius: 999px;
  width: 120px;
}

.pokedex__display {
  background-color: #fffc;
  border: 3px solid #ba0000;
  border-radius: 20px;
  gap: 14px;
  width: 100%;
  height: 600px;
  padding: 20px;
  display: flex;
  box-shadow: 5px 5px 10px #0006;
}

@media only screen and (width <= 81.25em) {
  .pokedex__display {
    padding: 15px;
  }
}

.pokedex__filter {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  flex-wrap: wrap;
  place-content: flex-start center;
  gap: 10px;
  width: 120px;
  height: 560px;
  padding: 10px;
  display: flex;
  box-shadow: 2px 2px 1px #00000040;
}

.pokedex__filter--type {
  text-align: center;
  cursor: pointer;
  border-radius: 999px;
  align-items: center;
  width: 44px;
  height: 35px;
  display: flex;
}

.pokedex__filter--type:has(input:checked) {
  border: 3px dashed #000;
}

.pokedex__filter--type label {
  width: 100%;
}

.pokedex__filter--type:has(#normal) {
  background-color: #9fa19f;
}

.pokedex__filter--type:has(#fighting) {
  background-color: #ff8000;
}

.pokedex__filter--type:has(#fire) {
  background-color: #e48585;
}

.pokedex__filter--type:has(#water) {
  background-color: #2980ef;
}

.pokedex__filter--type:has(#electric) {
  background-color: #fac000;
}

.pokedex__filter--type:has(#grass) {
  background-color: #3fa129;
}

.pokedex__filter--type:has(#ice) {
  background-color: #3dcef3;
}

.pokedex__filter--type:has(#poison) {
  background-color: #9141cb;
}

.pokedex__filter--type:has(#ground) {
  background-color: #915121;
}

.pokedex__filter--type:has(#flying) {
  background-color: #81b9ef;
}

.pokedex__filter--type:has(#psychic) {
  background-color: #ef4179;
}

.pokedex__filter--type:has(#bug) {
  background-color: #91a119;
}

.pokedex__filter--type:has(#rock) {
  background-color: #afa981;
}

.pokedex__filter--type:has(#ghost) {
  background-color: #704170;
}

.pokedex__filter--type:has(#dragon) {
  background-color: #5060e1;
}

.pokedex__filter--type:has(#dark) {
  background-color: #624d4e;
}

.pokedex__filter--type:has(#steel) {
  background-color: #60a1b8;
}

.pokedex__filter--type:has(#fairy) {
  background-color: #ef70ef;
}

.pokedex__filter--icon {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.pokedex__filter--caught {
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #ba0000;
  border-radius: 999px;
  align-items: center;
  width: 100px;
  height: 35px;
  display: flex;
}

.pokedex__filter--caught:has(input:checked) {
  background-color: #ba0000;
}

.pokedex__filter--caught label {
  width: 100%;
}

.pokedex__filter--clear {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 999px;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  font-family: Silkscreen, sans-serif;
  font-size: 1.6rem;
  transition: all .3s;
}

.pokedex__filter--clear:hover {
  color: #fff;
  background-color: #000;
}

.pokedex__grid {
  -moz-column-gap: 25px;
  scrollbar-width: thin;
  scrollbar-color: #ba0000 #efefef;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 26px 25px;
  padding: 10px;
  display: flex;
  overflow-y: auto;
}

@media only screen and (width <= 81.25em) {
  .pokedex__grid {
    gap: 25px 11px;
  }
}

.pokedex__empty {
  text-align: center;
  margin: auto;
}

.pokedex__empty img {
  width: 200px;
}

.loading {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  box-shadow: 4px 4px 10px #0009;
}

.loading img {
  width: 100px;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  max-width: 1220px;
  max-height: 80px;
  margin-bottom: 20px;
}

@media only screen and (width <= 81.25em) {
  .navigation {
    margin-bottom: 5px;
  }
}

body {
  overscroll-behavior: none;
  background-image: linear-gradient(#ffffff80 0%, #ffd62380 50%), url("forest.5c946855.webp");
  background-position: center, 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 100dvh;
  padding-top: 30px;
  transition: height .3s;
  display: flex;
  position: relative;
}

@media only screen and (width <= 81.25em) {
  body {
    padding-top: 8px;
  }
}

body::backdrop {
  opacity: .5;
  background-image: linear-gradient(#ffffff80 0%, #ffd62380 50%), url("forest.5c946855.webp");
  background-position: center, 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
  animation: .5s forwards backdropFade;
}

body:fullscreen {
  animation: .3s zoomIn;
}

body:after {
  content: "";
  z-index: -1;
  background-image: url("eevee-bottom.2c8c2d49.webp");
  background-size: cover;
  width: 135px;
  height: 84px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 42px);
}
/*# sourceMappingURL=index.b458fa94.css.map */
