/* ######### General Styling ########## */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Impact, sans-serif;
    font-size: 18px;
}


/* ######### Navigation Styling ########## */
.navbar {
    border-bottom: 3px solid #ce944e;
    background-color: #ffb111;
    box-shadow: 0 7px 16px 0px rgba(0,0,0,.11);
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.nav-link:hover {
    color: grey;
}

.navbar-nav .nav-link.active {
    color: red;
}


/* ######### Search Area Styling ########## */
.search-container {
    height: 100vh;
    width: auto;
    background-image: url(./resources/images/evee.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------- Search Bar ------- */
#search {
    text-align: center;
}

.search-bar {
    width: 50vw;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 80%;
    flex: 1;
    padding: 15px;
    border: 0;
    background: transparent;
    font-size: 20px;
    outline:none;

}
.search-bar button {
    border: 0;
    background: transparent;
}
#pokeball {
    width: 50px;
}


/*############ Footer Styling #########*/

footer {
    background-color: #ce944e;
    text-align: center;
    padding: 10px 0;
    font-weight:bold;
    color: white;
}