/* ######### General Styling ########## */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    font-family: Montserrat, Impact, sans-serif;
    font-size: 18px;
}

h6 {
    font-weight: 800; 
    text-transform: uppercase;
    margin: 0;
    color: grey;
}

/* ######### Navigation Styling ########## */
.navbar {
    border-bottom: 3px solid #ce944e;
    background-color: #ffb111;
    box-shadow: 0 7px 16px 0px rgba(0,0,0,.11);
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.nav-link:hover {
    color: grey;
}

.navbar-nav .nav-link.active {
    color: red;
}


/* ######### Search Area Styling ########## */
.search-container {
    height: 100%;
    width: auto;
    background-image: url(./resources/images/evee.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

/* -------- Search Bar ------- */
#search {
    text-align: center;
}

#search-bar {
    width: 50vw;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
}

#search-bar input {
    width: 80%;
    flex: 1;
    padding: 15px;
    border: 0;
    background: transparent;
    font-size: 20px;
    outline:none;

}
#search-bar button {
    border: 0;
    background: transparent;
}
#pokeball-submit {
    width: 50px;
}


/*############ Pokeball Loader Styling #########*/
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader p {
    font-weight: 700;
    font-size: 27px;
}  

.pokeball {
    display:flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50% ;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames .8s  linear 0s infinite;
  }
  
  .pokeball:after{
    content: '';
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px
  }
  
  .pokeball:before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 17px;
    height:17px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
  
  /* AnimationFrames */
  @keyframes frames{
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }


/*############ Poke-Search Result Styling #########*/
.results {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    height: auto;
    background-color: #ffb111;
    border-radius: 15px;
    border: 2px solid white;
    padding-bottom: 15px;
    align-items: center;
    box-shadow: 5px 5px 15px -6px #000000;
    margin: 50px 0;
}

.row {
    display: flex;
    width: 95%;
    /* border: 1px solid red; */
    padding: 10px 0;
    margin-top: 10px;
}

#poke-name {
    display:inline-flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

#poke-name p{
    width:50%;
    justify-content: flex-start;
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    margin: 15px 0 0 0;
    text-transform: capitalize;
}

p#hp { 
    justify-content: flex-end;
    text-align: right;
    font-size: 1.8em;
    color: red;
}

#poke-image { /*Background Settings */
    background-image: url('./resources/images/poke-background.webp');
    background-size: cover;
    border: 5px solid #b17b0e;
    background-color: #ffb111;
    opacity: 0.85; 
    box-shadow: 5px 5px 15px -8px #000000;
    margin-top: 0;
}

#poke-image img{ /*Image from API */
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

#poke-stats {
    background-color: #f8c55f;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
}

.stats {
    display: inline-flex;
    column-gap: 10px;
}

#stats2 {
    margin-top: 10px;
}

#attack, #speed, #defense, #special-attack, #special-defense {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
}

p.num {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: goldenrod;
    font-size: 2.2em;
    margin: 0;
}

/*############ Footer Styling #########*/

footer {
    background-color: #ce944e;
    text-align: center;
    padding: 10px 0;
    font-weight:bold;
    color: white;
}