@use "../../../essentials" as *;

.width-warning {
  position: fixed;
  top: 0;
  overflow: hidden;
  max-width: min(100dvw, 1240px);
  width: 100%;
  max-height: min(100dvh, 1440px);
  height: 100%;
  z-index: 999;
  border: none;
  background-color: $color-white;
  text-align: center;
  padding: 10px;

  &[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 250px;
    margin-bottom: 80px;
  }

  &__rotate {
    width: 120px;
    margin: 10px;
  }

  & .general-text {
    margin-bottom: 20px;
  }

  & .rowdie-label {
    opacity: 0.5;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
