@use "../../../../essentials" as *;

.main-screen {
  display: flex;
  gap: 85px;

  align-items: flex-end;

  @include respond(tablet-landscape) {
    height: 585px;
    margin-top: 15px;
  }

  &__game-paths {
    display: flex;
    gap: 25px;

    animation: fadeIn 0.5s ease;
  }
}
