@use "../../../../essentials" as *;

.main-screen {
  display: flex;
  gap: 100px;

  align-items: flex-end;

  &__game-paths {
    display: flex;
    gap: 25px;

    animation: fadeIn 0.5s ease;
  }
}
