@use "../../../../essentials" as *;

.pokedex {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  animation: fadeIn 0.5s ease;

  &__container {
    display: flex;
    flex-direction: column;
    width: 895px;
    gap: 25px;

    @include respond(tablet-landscape) {
      width: 840px;
    }

    & form {
      position: relative;

      @include respond(tablet-landscape) {
        display: none;
      }
    }
  }

  &__search {
    width: 885px;
    height: 50px;
    padding: 10px 50px;

    box-shadow: 4px 4px 0 $color-red;
    border: none;
    border-radius: $radius-10;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;

    &:focus {
      outline: none;
      border: 2px solid $color-red;
    }

    &--btn {
      position: absolute;
      height: 40px;
      width: 100px;
      top: 5px;
      right: 20px;
      cursor: pointer;

      background-image: url("../assets/icons/search.png");
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 5px 20px;
      background-color: $color-white;

      border: 2px solid $color-light-grey;
      border-radius: $radius-10;

      transition: all 0.3s ease;

      &:hover,
      &:focus {
        background-color: $color-light-grey;
        border-radius: $radius-full;
        width: 120px;
        background-size: 25%;
      }
    }
  }

  &__display {
    height: 600px;
    width: 100%;
    background-color: rgba($color-white, 0.8);
    border-radius: $radius-20;
    border: 3px solid $color-red;

    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba($color-black, 0.4);

    display: flex;
    gap: $spacing-14;

    @include respond(tablet-landscape) {
      padding: 15px;
    }
  }

  &__filter {
    background-color: $color-white;

    width: 120px;
    height: 560px;

    border-radius: $radius-20;
    border: 1px solid #eee;
    box-shadow: 2px 2px 1px 0 rgba($color-black, 0.25);

    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 10px;

    &--type {
      width: 44px;
      height: 35px;
      border-radius: $radius-full;
      display: flex;
      align-items: center;
      text-align: center;

      cursor: pointer;

      &:has(input:checked) {
        border: 3px dashed $color-black;
      }

      & label {
        width: 100%;
      }

      &:has(#normal) {
        background-color: #9fa19f;
      }
      &:has(#fighting) {
        background-color: #ff8000;
      }
      &:has(#fire) {
        background-color: $color-light-red;
      }
      &:has(#water) {
        background-color: #2980ef;
      }
      &:has(#electric) {
        background-color: #fac000;
      }
      &:has(#grass) {
        background-color: #3fa129;
      }
      &:has(#ice) {
        background-color: #3dcef3;
      }
      &:has(#poison) {
        background-color: #9141cb;
      }
      &:has(#ground) {
        background-color: #915121;
      }
      &:has(#flying) {
        background-color: #81b9ef;
      }
      &:has(#psychic) {
        background-color: #ef4179;
      }
      &:has(#bug) {
        background-color: #91a119;
      }
      &:has(#rock) {
        background-color: #afa981;
      }
      &:has(#ghost) {
        background-color: #704170;
      }
      &:has(#dragon) {
        background-color: #5060e1;
      }
      &:has(#dark) {
        background-color: #624d4e;
      }
      &:has(#steel) {
        background-color: #60a1b8;
      }
      &:has(#fairy) {
        background-color: #ef70ef;
      }
    }

    &--icon {
      height: 25px;
      width: 25px;
      vertical-align: middle;
    }

    &--caught {
      width: 100px;
      height: 35px;
      border-radius: $radius-full;
      display: flex;
      align-items: center;
      text-align: center;

      cursor: pointer;
      background-color: $color-white;
      border: 2px solid $color-red;

      &:has(input:checked) {
        background-color: $color-red;
      }

      & label {
        width: 100%;
      }
    }

    &--clear {
      width: 100px;
      height: 40px;
      font-family: "Silkscreen", sans-serif;
      font-size: $default-font-size;
      margin-top: 10px;
      background-color: $color-white;
      border: 2px solid $color-black;
      border-radius: $radius-full;
      cursor: pointer;

      transition: all 0.3s ease;

      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 25px;
    row-gap: 26px;
    padding: 10px;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-red $color-light-grey;

    @include respond(tablet-landscape) {
      gap: 25px 11px;
    }
  }

  &__empty {
    margin: auto;
    text-align: center;
    & img {
      width: 200px;
    }
  }
}

/* --- Pokemon Card --*/

/*
Normal: #9FA19F -- icon✅
Fire: #E62829 -- icon ✅
Water: #2980EF -- icon ✅
Electric: #FAC000 -- icon ✅
Grass: #3FA129 -- icon ✅
Ice: #3DCEF3 -- icon ✅
Fighting: #FF8000 -- icon ✅
Poison: #9141CB -- icon ✅
Ground: #915121 -- icon ✅
Flying: #81B9EF -- icon ✅
Psychic: #EF4179 -- icon ✅
Bug: #91A119 -- icon ✅
Rock: #AFA981 -- icon ✅
Ghost: #704170 -- icon ✅
Dragon: #5060E1 -- icon ✅
Dark: #624D4E -- icon ✅
Steel: #60A1B8 -- icon ✅
Fairy: #EF70EF -- icon✅
*/
