@use "../../../../essentials" as *;

.pokedex {
  width: 100%;
  display: flex;

  &__container {
  }

  &__search {
  }

  &__display {
  }

  &__filter {
  }

  &__grid {
  }
}

.pokemon-details {
  height: 660px;
  width: 305px;
  position: relative;

  display: flex;
  flex-direction: column;

  &::before {
    @include playerCardBackground;
    width: 305px;
    height: 600px;
  }

  &__empty {
    text-align: center;
    margin: auto;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__sprite {
    height: 104px;
  }

  &__id {
    opacity: 0.5;
  }

  &__type {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    &--water {
      @include pokemonTypeText;
      background-color: #2980ef;
    }
    &--electric {
      @include pokemonTypeText;
      background-color: #fac000;
    }
  }

  &__abilities {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    &--text {
      @include pokedexDataText;
    }
  }

  &__attributes {
    display: flex;
    gap: 20px;
    text-align: center;

    &--height {
      width: 50%;
    }
    &--weight {
      width: 50%;
    }
    &--text {
      @include pokedexDataText;

      //Dif from abilities--text
      min-width: 110px;
      margin-top: $spacing-10;
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;

    & > p {
      width: 100%;
    }

    &--skill {
      display: flex;
      justify-content: space-between;

      @include pokedexDataText;
      padding: 5px 15px;
      width: 110px;
    }
    &--icon {
      height: 20px;
      width: 20px;
    }
  }
}

/*
Normal: #9FA19F 
Fire: #E62829 
Water: #2980EF 
Electric: #FAC000 
Grass: #3FA129 
Ice: #3DCEF3 
Fighting: #FF8000 
Poison: #9141CB 
Ground: #915121 
Flying: #81B9EF 
Psychic: #EF4179 
Bug: #91A119 
Rock: #AFA981 
Ghost: #704170 
Dragon: #5060E1 
Dark: #624D4E 
Steel: #60A1B8 
Fairy: #EF70EF
*/
