@use "../../../../essentials" as *;

.pokedex {
  width: 100%;
  display: flex;

  &__container {
  }

  &__search {
  }

  &__display {
  }

  &__filter {
  }

  &__grid {
  }
}

.pokemon-details {
  height: 660px;
  width: 305px;
  position: relative;

  display: flex;
  flex-direction: column;

  &::before {
    @include playerCardBackground;
    width: 305px;
    height: 600px;
  }

  &__empty {
    text-align: center;
    margin: auto;
  }
}
