@use "../../../../essentials" as *;

.continue {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__title {
    @include labelTitleStyling;
    width: 485px;
    text-align: center;

    margin-bottom: 60px;
  }

  &__player-container {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
}
