@use "../../../../essentials" as *;

.signup-form {
  display: flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 625px;
    gap: 35px;
  }

  &__right {
    width: 100%;
    max-width: 560px;
  }

  &__label {
    height: 50px;
    width: fit-content;
    padding: 5px 25px;
    background-color: $color-white;

    border-radius: $radius-24;
    border: 1px solid #c0c0c0;

    position: relative;
    z-index: 1;
  }

  &--username {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    padding: $spacing-32 $spacing-32 $spacing-24;

    @include signupBoxStyling;
  }

  &--avatar {
    padding: $spacing-48 $spacing-24;
    @include signupBoxStyling;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  &--difficulty {
    // height: 540px;
    padding: $spacing-48 $spacing-24;

    @include signupBoxStyling;
    display: flex;
    flex-direction: column;
  }

  a,
  button {
    margin-left: auto;
  }
}
