@use "../../../../essentials" as *;

.signup-form {
  display: flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;

  animation: fadeIn 0.5s ease;

  @include respond(tablet-landscape) {
    gap: 20px;
    position: relative;
    padding-top: 20px;
    justify-content: center;
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 625px;
    gap: 35px;

    @include respond(tablet-landscape) {
      gap: 0px;
    }
  }

  &__right {
    width: 100%;
    max-width: 560px;

    @include respond(tablet-landscape) {
      max-width: 500px;
    }
  }

  &__label {
    // height: 50px;
    // width: fit-content;
    // padding: 5px 25px;
    // background-color: $color-white;

    // border-radius: $radius-24;
    // border: 1px solid #c0c0c0;

    @include labelTitleStyling;
    width: fit-content;
    position: relative;
    z-index: 1;
  }

  &--username {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    padding: $spacing-32 $spacing-32 $spacing-24;

    @include signupBoxStyling;
  }

  &--avatar {
    padding: $spacing-48 $spacing-24;
    @include signupBoxStyling;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  &--difficulty {
    // height: 540px;
    padding: $spacing-48 $spacing-24;

    @include signupBoxStyling;
    display: flex;
    flex-direction: column;

    @include respond(tablet-landscape) {
      padding: 30px $spacing-24;
    }
  }

  a[type="submit"],
  button {
    margin-left: auto;

    @include respond(tablet-landscape) {
      position: absolute;
      bottom: -60px;
      right: 33%;
    }
  }
}
