@use "../../../../essentials" as *;

.signup-form {
  display: flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 625px;
    gap: 35px;
  }

  &__right {
    width: 100%;
    max-width: 560px;
  }

  &__label {
    height: 50px;
    width: fit-content;
    padding: 5px 25px;
    background-color: $color-white;

    border-radius: $radius-24;
    border: 1px solid #c0c0c0;

    position: relative;
    z-index: 1;
  }

  &--username {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    padding: $spacing-32 $spacing-32 $spacing-24;

    @include signupBoxStyling;

    // &.error {
    //   border: 3px solid $color-red;
    // }
  }

  &--avatar {
    padding: $spacing-48 $spacing-24;
    @include signupBoxStyling;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  &--difficulty {
    height: 540px;
    padding: $spacing-48 $spacing-24;

    @include signupBoxStyling;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-left: auto;
  }
}

// MOVE INTO COMPONENT FILE
.avatar-card {
  background-color: $color-white;
  width: 125px;
  height: 125px;
  border-radius: $radius-20;
  position: relative;

  box-shadow: 0 4px 4px 0 rgba($color-black, 0.25);

  transition: all 0.3s ease;

  &__img {
    width: 120px;

    position: absolute;
    bottom: 0;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 5px 0 rgba($color-black, 0.25);
  }

  &:has(input:checked) {
    border: 3px solid $color-blue;
    transform: scale(1.02);
  }
}

.difficulty-selection {
  width: 100%;
  // max-width: 465px;

  &--easy {
    background-color: $color-light-green;
    border: 2px solid $color-green;

    @include difficultySelectionStyling;

    &:hover {
      border: 4px solid $color-green;
      box-shadow: 0 3px 3px 0 rgba($color-black, 0.25);
    }
  }

  &__description {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;

    &--pokeball {
      width: 28px;
      vertical-align: middle;
    }
  }
}
