@use "../abstracts/variables" as *;

.signup-form {
  display: flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 605px;
    gap: 35px;
  }

  &__right {
    width: 100%;
    max-width: 560px;
  }

  &__label {
    height: 50px;
    width: fit-content;
    padding: 5px 25px;
    background-color: $color-white;

    border-radius: $radius-24;
    border: 1px solid #c0c0c0;

    position: relative;
    z-index: 1;
  }

  &--username {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    width: 100%;
    padding: $spacing-32;
    background-color: rgba($color-white, 0.8);

    border-radius: $radius-20;
    border: none;

    position: relative;
    transform: translateY(-23px);
    // z-index: -1;

    outline-style: none;
  }

  button {
    align-self: flex-end;
  }
}
