@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  75% {
    transform: translateX(2px) rotate(1deg);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate(260px, -60px);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeInPokeball {
  from {
    opacity: 0;
    transform: scale(0.01) rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pokemonBounce {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  // Bounce right - going up
  5% {
    transform: translateX(25px) translateY(-15px);
  }

  // Land 100px right
  10% {
    transform: translateX(25px) translateY(0px);
  }

  // Flip and bounce back left
  15% {
    transform: translateX(50px) translateY(-15px);
  }

  // Pass starting point by 100px left
  20% {
    transform: translateX(50px) translateY(0px);
  }

  // Bounce back right
  25% {
    transform: translateX(75px) translateY(-15px);
  }

  // Flip forward and head home
  30% {
    transform: translateX(75px) translateY(0px);
  }

  // Return to start
  35% {
    transform: translateX(50px) translateY(-15px);
  }

  // Return to start
  40% {
    transform: translateX(50px) translateY(0px);
  }

  45% {
    transform: translateX(25px) translateY(-15px);
  }

  50% {
    transform: translateX(25px) translateY(0px);
  }

  55% {
    transform: translateX(0px) translateY(-15px);
  }

  // Bounce right - going up
  60% {
    transform: translateX(0px) translateY(0px);
  }

  // Land 100px right
  65% {
    transform: translateX(-25px) translateY(-15px);
  }

  // Flip and bounce back left
  70% {
    transform: translateX(-25px) translateY(0px);
  }

  // Pass starting point by 100px left
  75% {
    transform: translateX(-50px) translateY(-15px);
  }

  // Bounce back right
  80% {
    transform: translateX(-50px) translateY(0px);
  }

  // Flip forward and head home
  85% {
    transform: translateX(-25px) translateY(-15px);
  }

  // Return to start
  90% {
    transform: translateX(-25px) translateY(0px);
  }

  // Return to start
  95% {
    transform: translateX(0px) translateY(-15px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes backdropFade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transfrom: scale(0.95);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
