// Importing Silkscreen, Rowdies, & Pixelfy Sans from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rowdies:wght@300;400;700&family=Silkscreen:wght@400;700&display=swap");

body {
  font-size: $default-font-size; //16px;
  color: $color-black;
}

// Rowdies associated typography.
.bilboard {
  font-family: "Rowdies", sans-serif;

  font-size: 9.6rem; //96px;
  line-height: 99px;
  font-weight: 400;

  color: $color-blue;
}

.bilboard-sm {
  font-family: "Rowdies", sans-serif;

  font-size: 6.4rem; //64px;
  font-weight: 400;

  color: $color-blue;
}

.rowdie-title {
  font-family: "Rowdies", sans-serif;
  font-size: 3rem; //30px
}

.rowdie-label {
  font-family: "Rowdies", sans-serif;
  font-size: 1.8rem; //18px;
}

.rowdie-stat {
  font-family: "Rowdies", sans-serif;
  font-size: 4.8rem; // 48px
}

.math-equation {
  font-family: "Rowdies", sans-serif;
  font-size: 8rem; //80px;
}

.math-answer {
  font-family: "Rowdies", sans-serif;
  font-size: 2.4rem; //24px
}

//Pixelfy Sans typgraphy

// Silkscreen trypography
