@use "../../essentials" as *;

.error {
  border: 3px solid $color-red !important;
}

.stat-blue {
  color: $color-blue !important;
}

.stat-purple {
  color: $color-purple !important;
}

.stat-red {
  color: $color-red !important;
}
