@use "../../essentials" as *;

body {
  width: 100%;
  height: fit-content; //Adjusted during /continue dev
  min-height: 100dvh; //Adjusted during /continue dev
  //   min-height: 1024px;

  background-image: linear-gradient(
      180deg,
      rgba($color-white, 0.5) 0%,
      rgba($color-yellow, 0.5) 50%
    ),
    url("../assets/backgrounds/forest.webp");
  background-position: center, 0 30%;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;

  overscroll-behavior: none;

  transition: height 0.3s ease;

  @include respond(tablet-landscape) {
    padding-top: $spacing-08;
    // padding-bottom: $spacing-40;
  }

  &::backdrop {
    background-image: linear-gradient(
        180deg,
        rgba($color-white, 0.5) 0%,
        rgba($color-yellow, 0.5) 50%
      ),
      url("../assets/backgrounds/forest.webp");
    background-position: center, 0 30%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    animation: backdropFade 0.5s ease forwards;
  }

  &:fullscreen {
    animation: zoomIn 0.3s ease;
  }

  &::after {
    content: "";
    width: 135px;
    height: 84px;
    background-image: url("../assets/img/eevee-bottom.webp");
    background-size: cover;

    position: absolute;
    bottom: 0;
    left: calc(50% - 42px);

    z-index: -1;
  }
}
