@use "../../../essentials" as *;

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 260px;
  padding: $spacing-20;
  text-align: center;

  position: relative;

  &--mini {
    cursor: pointer;
    gap: 20px;
    &::before {
      @include playerCardBackground;
      height: 240px;
    }

    &:hover &__img {
      transform: scale(1.07);
    }
  }

  &--main {
    gap: 15px;
    &::before {
      @include playerCardBackground;
      height: 505px;
    }
  }

  &__avatar-box {
    position: relative;
    &::after {
      content: "";
      width: 200px;
      height: 40px;

      position: absolute;
      bottom: -5px;
      left: 0;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 62.98%
      );
    }
  }

  &__img {
    width: 200px;
  }

  &__info-title {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50px;
    background-color: #f9f9f9;
    border: 1px solid $color-light-grey;
    border-radius: $radius-24;

    &--img {
      width: 30px;
      vertical-align: middle;
    }
  }
}
