@use "../../../essentials" as *;

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 260px;
  //   height: 240px;
  //   background-color: $color-white;
  //   border-radius: $radius-20;
  padding: $spacing-20;
  text-align: center;

  position: relative;

  cursor: pointer;

  &::before {
    content: "";
    width: 260px;
    height: 240px;
    background-color: $color-white;
    position: absolute;
    bottom: -10px;

    border-radius: $radius-20;
    z-index: -1;

    box-shadow: -5px -5px 7px 0 rgba(255, 250, 242, 0.05),
      -1px -1px 2px 0 rgba(255, 250, 242, 0.1), 5px 5px 7px 0 rgba(0, 0, 0, 0.2),
      1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  }

  &:hover &__img {
    transform: scale(1.07);
  }

  &__avatar-box {
    position: relative;
    &::after {
      content: "";
      width: 200px;
      height: 40px;

      position: absolute;
      bottom: -5px;
      left: 0;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 62.98%
      );
    }
  }

  &__img {
    width: 200px;
  }

  &__pokeball-info {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50px;
    background-color: #f9f9f9;
    border: 1px solid $color-light-grey;
    border-radius: $radius-24;

    &--img {
      width: 30px;
      vertical-align: middle;
    }
  }
}
